/*  your css code here. If applicable */
#main{
	background-color:#f5f5f5;
	padding:40px;
}
.sub{
	border:1px solid lightgray;
	background-color:white;
	padding:20px;
	margin:15px 0px;
}
.author{
	font-style:italic;
	text-align:right;
	margin:0;
}
h2{
	padding:0px 15px;
	font-size:28px;
	margin-bottom: 30px;
}